html {box-sizing:border-box;}
*, *::before, *::after {box-sizing: inherit;}

.clock {
    margin-left: 50%;
    margin-right:50%;
    font-size: 100px;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
}
body {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 20%;
    font-size: 100px;
    color: black;
}