html {box-sizing:border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
    background: url('https://i.ytimg.com/vi/uNCr7NdOJgw/maxresdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lobster', cursive;
}

.clock {
    margin-left: 50%;
    margin-right:50%;
    margin-top: 20%;
    font-size: 100px;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}